{%extends "auctions/layout.html "%} {% block body %}

<h2 class="pb-2 border-bottom">Choose Category</h2>
<div class="b-example-divider"></div>

{%for cat in category%}
<ul>
  <li>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2 text-body-emphasis">
          <a href="{% url 'category' cat.title %}">{{cat.title}}</a>
        </h3>
        <p>
          All goods at amazing prices related to this category
        </p>
      </div>
    </div>
  </li>
</ul>
{% endfor %} {%endblock%}
